html,
body {
  font-size: 10px;
  line-height: 10px;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  min-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

button {
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
}

button,
input {
  box-sizing: border-box !important;
}

.Toastify__toast {
  font-size: 1.4rem;
  line-height: 1.3em;
}

strong {
  font-weight: 700;
}
